body {
    background-color: white;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #aaa;
    background-color: #444;
    bottom: 0;
    left: 0;
    font-weight: bold;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

table {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}    

th {
    display: none;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}    

td {
    vertical-align: top;
} 

p {
    font-size: 18px;
    text-align: left;
}

#containerline {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#containerheader {
    margin:auto; 
    width:1000px;
}

#containerbody {
    margin:auto; 
    width:1000px;
}

#containerinfo {
    padding-top: 15px; 
    padding-bottom: 15px; 
    font-size: 18px;
}
 

.boxlogo {
    float: left;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxsocial {
    float: left;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;    
}

.boxsocial a {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #FD5B25;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
}

.boxheader {
    clear: left;
    text-align: left;
    padding-top: 10px;
    width: 100%;
}

.boxdate {
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    float: left;
    width: 220px;
    color: black;
    font-size: 22px;
    border-top: 3px solid #FD5B25;
    border-color: #FD5B25;    
}

.boxtime {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 220px;
    color: gray;
    font-size: 18px;
    padding-bottom: 25px;
}

.boxtitle {
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    float: left;
    width: 780px;
    color: black;
    font-size: 22px;
    padding-bottom: 10px;
    border-top: 3px solid #FD5B25;
    border-color: #FD5B25;
}

.boxcontent {
    text-align: left;
    float: left;
    width: 780px;
    color: gray;
    font-size: 18px;
    padding-bottom: 10px;
}

