<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
                        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			
			<div class="container">
			
			{{ content }}
				
			</div><!-- /.container -->
		
		</body>
		<footer>
			©1995-2017 NETWAYS GmbH ❘ Phone: +49 911 92885-0 ❘ Fax: +49 911 92885-77 ❘ Email: info(at)netways.de | <a href="https://www.netways.de/kontakt/impressum/" target="_blank">Impressum</a>
		</footer> 
	</html>
