---
layout: default
---
<h1>Test</h1>
<div class="post">
    <div class="state">
        <i class="fa fa-" aria-hidden="true"></i>
    </div>
    <div class="boxdatetime">
        <span class="date">{{ page.date | date_to_long_string }}</span>
        <span class="time">{{ date_to_string }}</span>
    </div>
    <h3 class="boxtitle" title="{{ page.title }}">
        {{ page.title }}
    </h3>
    <div class="boxcontent">
        {{ content }}
    </div>
</div>

<h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>

        <div class="post">
        {{ content }}   
        </div>

